<%= form_for(@exercise_plan) do |f| %>
  <% if @exercise_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_plan.errors.count, "error") %> prohibited this exercise_plan from being saved:</h2>

      <ul>
      <% @exercise_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
    <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
    <div class="field">

  <%= f.hidden_field(:user_ids, :value => current_user.id)%>



  </div>

<% end %>

