<p id="notice"><%= notice %></p>

<h3>Day 1: Chest</h3>


<ul class="list-group">




  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>



</ul>


<h3>Day 2: Back</h3>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

<h3>Day 3: Legs</h3>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

<h3>Day 4: Arms</h3>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>


  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

  <li class="list-group-item">      <%= link_to "Bench Press", Exercise.find_by_name("Bench Press") %>
</li>

<h3>Day 5: Rest</h3>




<br/>

<%= link_to 'Back', home_index_path %>
