<% if !params[:musclegroup] && !params[:search] %>
<h1>בחר קבוצת שריר</h1>
<div dir="right">
<ul class="list-group" style="text-align:right;">
  <% if current_user && current_user.admin %>
    <li class="list-group-item" >   <strong><%= link_to 'New Exercise', new_exercise_path %></strong>   </li>
<% end %>

  <li class="list-group-item" >      <%= link_to "חזה", exercises_path(:musclegroup =>"Chest") %>    
  	<span class="badge pull-left">  <%= exercisesmuscle("Chest").size %></span>
</li>

      <li class="list-group-item">      <%= link_to "גב", exercises_path(:musclegroup =>"Back")%>    <span class="badge pull-left">  

    <%= exercisesmuscle("Back").size %>
      	</span>
</li>


  <li class="list-group-item">      <%= link_to "רגליים", exercises_path(:musclegroup =>"Legs")%>    <span class="badge pull-left">   

    <%= exercisesmuscle("Legs").size %>
      	</span>
</li>

  <li class="list-group-item">      <%= link_to "כתפיים", exercises_path(:musclegroup =>"Shoulders")%>    <span class="badge pull-left">   

    <%= exercisesmuscle("Shoulders").size %>
      	</span>
</li>

      <li class="list-group-item">      <%= link_to "ידיים", exercises_path(:musclegroup =>"Arms")%>    <span class="badge pull-left">   
  	
    <%= exercisesmuscle("Arms").size %>


</span>
</li>

</ul>

<% elsif params[:musclegroup] %>
<div dir="right">

<ul class="list-group" style="text-align:right;">
  <% exercisesmuscle(params[:musclegroup]).each do |exercise| %>
  <li class="list-group-item">      <%= link_to exercise.name, exercise %>
</li>
 <% end %>
 </ul>
</div>
<%= link_to 'חזור', exercises_path %>
 <% end %>
















<%#link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#link_to 'Edit', edit_exercise_path(exercise) %>