<!DOCTYPE html>
<html>
<head>
  <title>QRGym</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="container">


        <div class="header">
        <div style="margin: 0 auto;width:257px;"><a href="/home/index"><%= image_tag('Gym Buddy logo.png', height: 70) %></a></div>
          <ul class="nav nav-pills pull-right" style="padding-right:0;">
                      <li class="<%= is_active?('/exercises') %>"><a href="/exercises">תרגילים נוספים</a></li>




          
        </ul>

<br/>
<br/>
<br/>

      </div>

<%= yield %>




      <div class="footer">
        <p>&copy; QRGym 2014</p>
      </div>


</div>

</body>
</html>
